# Build artifacts
/build/
/out/
/dist/
/_deps/
CMakeFiles/
CMakeCache.txt
*.cmake
*.a
*.so
*.dll
*.dylib
*.o
*.obj
*.exe
build-*/
build_*/

# Python
__pycache__/
*.pyc
.venv/
uv.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests
Testing/**

